[submodule "Vitis_Libraries"]
	path = Vitis_Libraries
	url = https://github.com/mariodruiz/Vitis_Libraries.git
	shallow = true
[submodule "boards/ip"]
	path = boards/ip
	url = https://github.com/mariodruiz/PYNQ.git
	branch = image_v2.7_vitis_hls
	shallow = true
