[submodule "boards/ip"]
	path = boards/ip
	url = https://github.com/mariodruiz/PYNQ.git
	branch = image_v2.8.vitis2022_1
	shallow = true
[submodule "Vitis_Libraries"]
	path = Vitis_Libraries
	url = https://github.com/Xilinx/Vitis_Libraries.git
	branch = master
	shallow = true
