# Copyright (C) 2021 Xilinx, Inc
#
# SPDX-License-Identifier: BSD-3-Clause

*.log
*.jou
*.str
.Xil/
*.vhlsprj
NA/
cv_dfx_3_pr/
overlay/
.coverage
junit/
__pycache__/
docs/build/
*.dtbo
*.zip
hd_visual/
.vscode/
tests/files/composable_test.pkl
tests/files/composable_test_composable.pkl